*{
	margin: 0;
	padding: 0;
	font-family: arial, verdana, sans-serif;
}
body,html{
	height: 100%;
	margin: 0;
}
.bg{
	/*caminho*/
	background-image: url(../img/fundo.jpg);
	/*para não repetir a imagem*/
	background-repeat: no-repeat;
	/*centralizado*/
	background-position: center;
	/*para imagem não rolar junto com a pagina*/
	background-attachment: fixed;
}

#container{
	/*Definição do layout semi-fluido, onde o maximo de largura suportado será 960px e o minímo será 600px; */
	max-width: 980px;
	min-width: 800px;
	height: 1300px;
	background-color: #c0c0c0;
	margin: auto;
	
}
/*este header é pra definir a barra a baixo do nome da loja*/
header{
	width: 100%;
	height: 50px;
	background-color: #696969;
	text-align: center;
}
header h1{
		font-family: 'Verdana', sans-serif;
		font-size: 35px;
		padding: 10px 20px;
		/*cor da letra do nome do site*/
		color:#FFF;
}
#banner{

	background-image: url(../img/banner4.jpg);
	width:  980px; 
	height: 300px;
}
nav{
	width: 100%;
	/*tamanho quadrado atras do menu*/
	height: 50px;
	background-color: #DCB6DE;
	text-align: center;
}
nav ul{
	list-style-position: inside;
	list-style: none;
	padding: 10px 20px;
}

nav ul li{
	/*Dispõe os elementos em linha, um ao lado do outro*/
	display: inline-block;
	width: 130px;
	text-align: center;
	padding: 5px 0;

}
nav ul li:hover{
	background-color: #D780D7;
	/*border-bottom: 1px solid white;*/
}
nav ul li a{
	text-decoration: none;
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
}
h2{
	text-align: center;
	margin-top: 20px;
}
.sessaocalcados{
	/*Alinhamento da descrição*/
	text-align: center;
	margin-top: 10px;
	display: flex;
	margin-left: 48px;
}
#calcado1{
	margin: 15px;
}
#calcado2{
	margin: 15px;
}
#calcado3{
	margin: 15px;
}
#calcado4{
	margin: 15px;
}
#calcado5{
	margin: 15px;
}
#calcado6{
	margin: 15px;
}
#calcado7{
	margin: 15px;
}
#calcado8{
	margin: 15px;
}
#calcado9{
	margin: 15px;
}
#calcado10{
	margin: 15px;
}
#calcado11{
	margin: 15px;
}
#calcado12{
	margin: 15px;
}

.sessaocalcados2{
	/*alinhamento da descrição */
	text-align: center;
	margin-top: 20px;
	display: flex;
	margin-left: 48px;
}
footer{

	margin-top: 30px;
	/*Define a largura*/
	width: 100%;
	/*Define a altura*/
	height: 50px;
	/*Cor de fundo do nosso rodapé*/
	background-color: #696969;
	
}
p{

	font-family: TIMES New Roman;
	font-size: 14px;
	text-align: center;
}

.sessaocalcados3{
	/*alinhamento da descrição */
	text-align: center;
	margin-top: 20px;
	display: flex;
	margin-left: 48px;
}
figcaption{
	font-size: 14px;
	font-family: 'arial', sans-serif;
	text-align: center;

}